@import '../../../../styles/variables';

.isd-flow-wrapper {
    color: $font-color-black;
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
	height: 100%;
	width: 100vw;
    background-color: $default-background;


    .isd-flow-container {
        display: flex;
        flex-direction: column;
        gap: 2.1875rem;
        width: 80%;
        margin: auto;
        padding-top: 2rem;

        .isd-flow-back-button {
            font-size: $font-size-semi-small;
            font-weight: $fontWeightBold;
            color: $font-color-black;
            border-radius: 0;
            transition: none;

            &:hover {
                background-color: darken($default-background, 10%);
                border-color: transparent;
            }

        }

        .isd-flow-title-container {
            display: flex;
            justify-content: space-between;
            gap: 2rem;

            .isd-flow-title {
                font-weight: $fontWeightBold;
                font-size: $font-size-large;
            }

            .isd-flow-status {
                align-self: center;
            }

        }

        .isd-flow-content {
            display: flex;
            gap: 1.25rem;

            .isd-flow-form-container {
                flex: 0 1 55%;
            }
        }
    }
    
}

@media (max-width: 96rem) {
    .isd-flow-wrapper {
        .isd-flow-container {
            gap: 2rem;
    
            .isd-flow-content {
                gap: 1rem;
            }
        }
        
    }
}

@media (max-width: 79rem) {
    .isd-flow-wrapper {
        .isd-flow-container {
            gap: 1.5rem;
            width: 90%;
    
            .isd-flow-content {
                gap: 0.7rem;
            }
        }
        
    }
}