@import '../../styles/variables';

.requests-container {
  width: 80%;
  margin: auto;
  color: $font-color-black;
  display: flex;
}

.requests-container {
  margin-top: 2.5rem;
  flex-direction: column;

  .requests-title {
    font-weight: $fontWeightBold;
    font-size: 2rem;
  }
}
