@import "../../../../styles/variables";

.module {
    background-color: $light-grey-background;
    border: 1px solid $status-grey;
    padding: 1.25rem 1.0625rem;
    box-shadow: 0px 4px 16px 0px #E7E7E719;

    .title {
        font-weight: $fontWeightSemiBold !important;
        font-size: $font-size-small !important;
        color: $font-color-black !important;
        margin-bottom: 1.25rem !important;
    }

    .add-extra-margin {
        margin-bottom: 1.25rem;
    }
}