@import "./../../../styles/variables";

.requests-table {
    background-color: $form-white-background;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 2.5rem;

    .requests-table-header {
        th {
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-weight: $fontWeightSemiBold;
            font-size: $font-size-semi-small;
        }
        .request-name-header {
            width: 32%;
            padding-left: 2rem;
        }
        .assigned-to-header {
            width: 15%;
        }
        .last-updated-header {
            width: 15%;
        }
        .stage-header {
            width: 10%;
        }
        .status-header {
            width: 20%;
            text-align: center;
        }
        .actions-header {
            width: 8%;
            text-align: center;
        }
    }

    .need-review {
        .table-gap {
            height: 2rem;
            background-color: $default-background;
        }
    }
}
