@import "../../styles/variables";

.new-request-container {
  // width: 100vw;
  // display: flex;
  padding-top: 2.5rem;
  // justify-content: space-between;
}

.new-request-form-container {
  margin: 0 auto;
  padding: 2rem 4.625rem 3.75rem 4.625rem;
  max-width: 800px;
  border: 1px solid $form-white-background;
  background-color: $form-white-background;

  .new-request-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .new-request-button-container {
      .cancel {
        float: right;
        background-color: $form-white-background;

        &:hover {
            background-color: darken($form-white-background, 10%);
        }
      }
      .create-request {
        float: right;
        color: $font-color-white;
        background-color: $button-blue-background;

        &:hover {
                background-color: darken($button-blue-background, 10%);
            }
      }
    }
  } 
}