@import "./../../../styles/variables";

.nav-bar {
    display: flex;
    justify-content: space-between;

    ul {
        padding: 0;
        display: flex;
        margin-bottom: 0;
        li {
            list-style: none;
        }

    }
    
    .tabs {
        li {
            padding: 2.5rem 2.5rem 0 0;
            button {
                transition: none;
                border: none;
                padding: 0;
                font-weight: $fontWeightRegular;
                font-size: $font-size-small;
                border-radius: 0px;

                &:hover {
                    font-weight: $fontWeightSemiBold;
                    transition: font-weight 1ms;
                }
            }
            .clicked {
                font-weight: $fontWeightSemiBold;
                border-bottom: 2px solid $font-color-black;
            }
            
        }
    }

    .actions {
        justify-content: flex-end;
        li {
            margin-top: 1.1875rem;
            padding-left: 1.5rem;
            height: 2.8125rem;
        }

        .filter {
            button {
                padding: 0.7rem 1.375rem;
                background-color: $form-white-background;
                border: none;
                border-radius: 0px;
                height: 100%;
            }
            
        }

        .search {
            input[type="text"] {
                background: url("./../../../assets/icons/search.svg") 0.75rem 0.35rem no-repeat;

                border: 1px solid $grey-color;
                background-color: $form-white-background;
                padding: 1rem;
                height: 100%;
                padding-left: 3.7rem;
                font-size: 1rem;
                // color: $font-color-grey-2;
                width: 15.5rem;

                &:active {
                    color: $font-color-grey-2;
                }
            }
        }
        
        .create-request {
            .create-request-button {
                height: 100%;
                width: 10.3125rem;
                background-color: $button-blue-background;
                border-radius: 0px;
                font-weight: $fontWeightBold;
                font-size: 1rem;
                color: $font-color-white;

                &:hover {
					background-color: darken($button-blue-background, 10%);
				}
            }
        }
    }
}

@media (max-width: 68rem) {
    .nav-bar {
        flex-direction: column-reverse;

        .actions {
            justify-content: flex-start;

            li:first-child {
                padding-left: 0;
            }
        }
    }
}