@import '../../../../styles/variables';

.isd-flow-steps-menu {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    

    .menu-step {
        padding: 2.1875rem 1.5rem;
        font-weight: $fontWeightBold;
        font-size: $font-size-half-regular;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .current {
        background-color: $current-menu-step-background;
    }

    .next {
        background-color: $next-menu-step-background;
    }

    .completed {
        background-color: $completed-menu-step-background;
    }


}

@media (max-width: 79rem) {
    .isd-flow-steps-menu {
        gap: 0.7rem;
    }
}